* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: rgb(230, 230, 252);
    gap: 30px;
}

.title1 {
    font-family: Arial;
    color: rgb(38, 197, 65);
    background-color: rgb(255, 255, 255);
}

.cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    background-color: rgb(198, 221, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 76, 110);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 200px;
    height: 220px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.card img {
    width: 100%;
    border-radius: 8px
}

.card button {
    background-color: rgb(255, 51, 0);
    padding: 10px;
    width: 160px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}

.card button:hover {
    background-color: rgb(204, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 76, 110);
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.conteiner-logo {
    display: flex;
    align-items: center;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(16, 76, 110);
    color: white;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

footer span {
    text-align: center;
}

.conteiner-mvv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 60px;
    background-color: rgb(198, 221, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


.card-mvv {
    background-color: rgb(16, 76, 110);
    color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    text-align: center;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    background-color: rgb(20, 100, 212);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cadastro-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    background-color: rgb(198, 221, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.cadastro-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
    background-color: rgb(230, 230, 252);
}

.btn-login {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgb(230, 6, 6);
    border-radius: 5px;
}

.add-card-form {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    max-width: 400px;
}

.add-card-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-card-form button {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background-color: rgb(0, 120, 255);
    color: white;
    cursor: pointer;
}

header img {
    width: 50px;
    height: auto;
    vertical-align: middle;

}

.pic-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(0, 120, 255);
}

´ .pic-conteiner img {
    width: 200px;

}

.midias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(198, 221, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.midias img {
    width: 300px;
    gap: 10px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(124, 12, 12);
    margin-bottom: 15px;
}